input[type="submit"]{
	padding: 10px!important;
	text-transform: none!important;
}
input[type="text"]{
	width: auto!important;
}
input[disabled]{
	background-color: transparent;
	border: none;
	color: #000;
	font-size: 1em;
	font-weight: 700;
}
label{
	padding-top: 10px;
}
.panel form{
	max-width: 800px;
	text-align: center;
	margin: 20px auto;
}
#sum{
	opacity: 1;
}
.calendar{
	display: flex;
	justify-content:flex-start;
	padding: 30px;
}
.datepicker_div{
	padding: 0 6px;
}
.datepicker_div input{
	position: relative;
	width: 100%!important;
	padding: 8px 8px 8px;
	border-color: #999999;
	text-align: right;
}
#clientForm{
	display: block;
	max-width: 800px;	
	padding: 15px 30px;	
	margin: 50px auto;
}
.submit{
	text-align: center;
	padding: 15px;
}
.full-width {
	width: 100%;
	padding: 15px 30px;
	text-align: center;
}
.full-width.left{
	text-align: left;
	height: auto;
}
#total label{
	margin-top: 0.5em;
	text-align: right;
	font-weight: 700;
}
.type{
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #eee;
	padding: 10px;
	max-width: 800px;
	margin: 0 auto;
}
